# LaTeX specific files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.gz
*.dvi
*.xdv
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.lot
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fls
*.fdb_latexmk
*.pdfsync
*.ps
*.eps
*.backup

# Editor-specific files
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.synctex.gz(busy)
*.synctex(busy)
*.synctex.gz
*.synctex.gz\(busy\)
*.synctex\(busy\)
*.synctex
*.lof
*.fls
*.fdb_latexmk
*.pdfsync
*.gz
*.ps
*.dvi
*.idx
*.ilg
*.ind
*.out
*.toc
*.log
*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.bbl
*.blg
*.brf
*.fls
*.fls
*.fdb_latexmk
*.backup
